# Maven
target/
.mvn/
!mvnw
!mvnw.cmd

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
*.classpath
*.project
*.settings/
.vscode/

# Logs e temporários
*.log
*.tmp
*.bak
*.swp
.DS_Store

# Credenciais e chaves
*.pem
*.key
.env
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Sistema
Thumbs.db
ehthumbs.db
